.text-buy {
    color: #97c93e !important;
}
.btn-sg{
    background-color:  #97c93e;
    color: white;
}
.btn-sg:hover{
    background-color: #82ad36;
}

#header img {
    width: 40px;
}

#button-buy:hover{
    cursor: pointer;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%)
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#place-event img{
    max-width: 100%;
    /* max-height: 100%; */
    /* object-fit: cover; */
}

#place-event {
    background-color: #333A41;
    color: white;
}

#footer {
    background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}

#footer a {
    color: white;
}
